html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    margin: 0;
}

.chrome-dino-app {
    /*overflow-y: auto;*/
    margin: auto;
}

.app__edge-canvas {
    z-index: 200;
}

.layer__canvas-2d {
    margin:5px;
}

.layer__canvas-1d, .layer__canvas-2d {
    position: relative;
    z-index: 300;
}

.app__row {
    position: relative;
    margin: 20px 10px;
}

.app__layer {
    position: absolute;
    display: flex;
    border-radius: 5px;
    border: 1px solid #222;
    min-height: 50px;
}

.layer__info {
    width: 170px;
    background-color: #f2f2f2;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.layer__title {
    font-size: 16px;
    margin-bottom: 5px;
}

.layer__info-row {
    display: flex;
    align-items: center;
}

.layer__info-label {
    margin-right: 5px;
    font-size: 12px;
    color: #444;
}

.layer__info-value {

}

.layer__nodes {
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.layer__nodes canvas {

}

.chrome-dino-app {
    position: relative;
}

.app__edge-canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
