html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#app {
    height: 100vh;
}

body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    margin: 0;
}

.keras-mri-app {
    position: relative;
    overflow: hidden;
    display: flex;
    height:100%;
}

.app__edge-canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    pointer-events: none;
}

.app__side-bar {
    flex: 0 0 250px;

    background-color: #ebebeb;
    box-shadow: 2px 0 5px 0 #00000055;
    position: relative;
    z-index: 500;
    padding: 20px;
}

.app__content-container {
    overflow: auto;
    flex: 1 1;
}

.app__loading-ovrelay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 300;
}

.app__loading-ovrelay > img {
    position: absolute;
    top: 50%;
    left: calc(50% + 250px/2);
    transform: translate(-50%, -50%);
}

.app__content {
    position: relative;
    /*Exporting to png cuts off the bottom of the image without this padding. ¯\_(ツ)_/¯*/
    padding-bottom: 1px;
}

.layer__canvas-2d {
    margin:5px;
}

.layer__canvas-1d, .layer__canvas-2d {
    position: relative;
    z-index: 300;
}

.app__row {
    position: relative;
    margin: 20px;
}

.app__layer {
    position: absolute;
    display: flex;
    border-radius: 5px;
    border: 1px solid #222;
    min-height: 50px;
}

.layer__info {
    width: 170px;
    background-color: #f2f2f2;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 13px;
}

.layer__title {
    font-size: 16px;
    margin-bottom: 5px;
}

.layer__title-subtext {
    font-size: 12px;
    color: #444;
}

.layer__info-row {
    display: flex;
    align-items: center;
}

.layer__info-label {
    margin-right: 5px;
    font-size: 12px;
    color: #444;
}

.layer__info-value {

}

.layer__nodes {
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sidebar__header {
    margin: 0;
    font-family: "Courier New", Monaco, monospace;
    text-align: center;
}

.sidebar__section-title {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

.sidebar__section-content {
    margin-left: 10px;
}

.sidebar__button-group {
    display: flex;
}

.sidebar__button-group > * {
    padding: 2px;
    margin: 0 2px;
    cursor: pointer;
}

.sidebar__button--disabled {
    color: #6f6f6f;
    cursor: pointer;
}

